.contenedor-dropdown {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
  position: absolute;
  right: 25px;
  top: 55px;
  width: 250px;
  z-index: 2;

  .items-carrito {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: scroll;
  }

  button {
    margin-top: 15px;
  }
}
