.navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;

  .logo {
    height: 100%;
    padding: 25px;
    width: 70px;
  }

  .navbar-links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 50%;

    .navbar-link {
      color: gray;
      cursor: pointer;
      padding: 10px 15px;
      text-decoration: none;
    }
  }
}
