button {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  margin: 10px 0;
  outline: none;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background-color: #8f8d8d;
    color: #ffffff;
  }
}
